---
# Enable access logging for all workloads
apiVersion: telemetry.istio.io/v1
kind: Telemetry
metadata:
  name: mesh-default
  namespace: istio-system
spec:
  accessLogging:
    - providers:
        - name: envoy
      # Log to stdout so Promtail can collect it
      disabled: false
  tracing:
    - providers:
        - name: jaeger
      randomSamplingPercentage: 100.0
  metrics:
    - providers:
        - name: prometheus
---
# Enable access logging for default namespace
apiVersion: telemetry.istio.io/v1
kind: Telemetry
metadata:
  name: default-logging
  namespace: default
spec:
  accessLogging:
    - providers:
        - name: envoy
      disabled: false

